* {
    border: 0;
    margin: 0;
    padding: 0;
}

#loader {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 1;
    background: #000000 url(Eclipse-0.5s-217px.gif) no-repeat center center;
}


/* .lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ripple div {
    position: absolute;
    border: 4px solid #fdd;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
} */

a:link {
    text-decoration: none;
}

a:visited {
    color: white;
}

#topbar {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background: rgba(0, 0, 0, 0.2);
    color: #dddddd;
    width: 100vw;
    height: 100px;
    font-size: 2rem;
}


/* #topbar::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: white;
} */

#name {
    font-size: 3rem;
    margin-left: 3rem;
    text-transform: uppercase;
    text-shadow: 5px 5px 2px #8503ff;
    text-shadow: inset 2px 2px 3px black;
    font-family: 'Indie Flower', cursive;
    font-weight: 300;
    flex-grow: 1;
    text-align: left;
    letter-spacing: 6px;
    width: auto;
    /* margin: 10px; */
    padding: 0.1rem 0.1rem 0.1rem 1rem;
    cursor: default;
    transform-origin: 10% 50%;
    transition: 0.5s ease;
    overflow: hidden;
    color: #dddddd;
}

#name:hover {
    transform: scale(1.01);
    color: white;
    text-shadow: 5px 5px #666666;
}

nav {
    width: 60%;
    margin-right: 30px;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 1rem;
}

li {
    display: inline;
    padding-left: 2rem;
    padding-right: 2rem;
    font-family: Play;
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 3px;
    transition: 0.3s ease;
}


/* li::hover {
    transform: scale(0.9);
} */

li::after {
    content: '';
    display: inline-block;
    position: relative;
    bottom: -8px;
    transform: scaleX(0) translateY(1px);
    border-radius: 3px;
    width: 100%;
    height: 5px;
    background-color: #8503ff;
    transform-origin: left;
    transition: 0.5s ease;
}

li:hover::after {
    transform: scaleX(1.1) translateX(-5%);
}

li:nth-child(1) {
    padding-left: 0.2rem;
}

#home {
    width: 100%;
    height: 100vh;
    padding-top: 100px;
    color: #eeeeee;
    background: url(nathan-de-fortunato-Kfjp8qa8_pM-unsplash.jpg);
    background-size: cover;
    background-position: -8%;
    font-size: 2em;
    box-sizing: border-box;
}

#home h1 {
    text-align: left;
    width: 9em;
    padding-left: 2em;
    font-family: 'Indie Flower';
    line-height: 1.1em;
    font-weight: 600;
    font-size: 2em;
    margin-top: 5%;
}

#home h1::after {
    content: '';
    position: relative;
    bottom: 2px;
    width: 100%;
    box-shadow: 2px 2px black;
    height: 0.5rem;
    transform: translateX(-3px);
    border-radius: 5px;
    display: block;
    background-color: #8503ff;
}

#home section {
    text-align: center;
    font-size: 1.4em;
    padding: 3em 2em 0 2em;
    font-family: Satisfy;
}

.sec {
    height: 100vw;
}